/src/utils/Pintos.pm~
/src/utils/pintos-gdb~
/src/utils/pintos~
/src/utils/setitimer-helper.o
/src/utils/squish-pty.o
/src/utils/squish-unix.o
/src/utils/Makefile~
/src/threads/Make.vars~
src/threads/Make.vars
src/utils/Makefile
src/utils/Pintos.pm
src/utils/pintos
src/utils/pintos-gdb
.idea/.name
.idea/POS1.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
